* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: grey;
}

h1 {
  font-size: 3.7rem;
  font-weight: 700;
  color: whitesmoke;
}

.btn {
  padding: 15px 30px;
  border-radius: 12px;
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
  background-color: green;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1.5rem 0;
  height: 35vh;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1rem solid gainsboro;
}

main {
  position: relative;
  width: 960px;
  height: 100%;
  margin: 0 auto;
}

.again {
  position: fixed;
  top: 15px;
  right: 15px;
  margin: 0 1rem;
  background-color: whitesmoke;
  color: black;
}

.up-text {
  position: fixed;
  top: 15px;
  left: 15px;
  margin: 0 2rem;
  color: whitesmoke;
  font-size: 2rem;
  font-weight: 500;
}

.number {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 12rem;
  text-align: center;
  background-color: whitesmoke;
  font-size: 6rem;
  font-weight: 500;
}

.left {
  position: absolute;
  left: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guess {
  width: 3.5rem;
  height: 3.5rem;
  padding: 10px;
  margin-bottom: 44px;
  font-size: 2.2rem;
}

.check {
  background-color: whitesmoke;
  color: black;
}

.right {
  position: absolute;
  right: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section p {
  margin-bottom: 44px;
  font-size: 1.4rem;
  font-weight: 500;
}

.message {
  font-size: 1.8rem;
  color: white;
}

.label-score {
  color: white;
}

.score {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: center;
  color: white;
  font-weight: 700;
  font-size: 2rem;
  margin: 15px;
}

.label-highscore {
  color: white;
}

.highscore {
  color: yellow;
}
